body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    width: 400px;
    justify-content: space-around;
    border: 3px solid red;
    padding: 10px;
    border-radius: 5px;
}

.box {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: smaller;
}